header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #1C2833;
}

.menulist {
  display: flex;
  gap: 15px;

}

.menulinkbox{
  display: flex;
  gap: 20px;
  align-items: center;
}

.menulistitem {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  cursor: pointer;

}

.auth{
  display: flex;
  gap: 5px;
}


/* Search filed style */
.searchbox {
  position: relative;
  display: inline-block;
}

.searchbox input {
  padding-right: 30px; /* Space for the search icon */
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 30px;
}

.searchbox .search-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
}
